<html>

	<head>
	</head>
	<body>
		  <form action="http://localhost:8000" method="post">
		  	<div class="addme">
		  	<select>
		  		<option>
		  			1
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			2
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			1
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			2
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			1
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			2
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			1
		  		</option>
		  	</select>
		  	<select>
		  		<option>
		  			2
		  		</option>
		  	</select>
		  	<button type="submit">Submit</button>
		  	<button onclick="add_me()"></button>
		</form>
	</body>
</html>