{% include "header.html" %}
<div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
    <p>Uploaded File</p>
  </div>
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
    <p>Choose Attributes...</p>
  </div>
   <div class="progress-bar " style="width: 50%; background-color:#cbe8c2">
    <span class="sr-only">50% Complete (success)</span>
  </div>
</div>
</div>

	<div class="container">
		<div class="starter-template">
			<div class="col-md-12">
				<form action="/dedupe_app/m" method="post">
					{% for x in total %}
					<div class="col-md-16">
				  	<select class="ui dropdown" id="attr{{x}}" name="attr{{x}}">
						  {%for c in data%}
				  		<option>
				  			{{c}}
				  		</option>
						  {%endfor%}
				  	</select>
				  	<select class="ui dropdown" id="comp{{x}}" name="comp{{x}}">
				  		<option value="None" id="-1">
				  		<option value="Exact" id="1">
				  			Exact
				  		</option>
				  		<option value="String" id="2">
				  			String
				  		</option>  		
				  	</select>
				  </div>
				{%endfor%}
				<br>
					<button type="submit">Submit</button>
					<button onclick="func()" class="click_me">Add More</button>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
<script type="text/javascript">
	for(var i=2;i<=10;i++)
	{
		$("#comp"+i).hide();
		$("#attr"+i).hide();
	}
	var i=2
	$(".click_me").click(function(e){
		$("#comp"+i).show();
		$("#attr"+i).show();
		i++;
		e.preventDefault();
	});
</script>
