{% include "header.html" %}
{% load static %}
  <head>
    <meta charset="UTF-8">
    <title>Data Table</title>
        <link rel="stylesheet" href="css/style.css">
  </head>
<div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
    <p>Uploaded File</p>
  </div>
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
    <p>Attributes Chosen</p>
  </div>
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
    <p>Active Learning...</p>
  </div>
   <div class="progress-bar " style="width: 25%; background-color:#cbe8c2">
    <span class="sr-only">25% Complete (success)</span>
  </div>
</div>
</div>
  <body>

    <html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>

<div class="table-title">
<h3 align="left">Training Phase</h3>
</div>
<div>
<div class="xcz">
    <table class="table">
      <thead>
        {%for c in key %}
        <th>{{c}}</th>
        {%endfor%}
      </thead>
      <tbody>
      <tr>
        {%for v in val %}
              <td>{{v}}</td>
            {%endfor%}
      </tr>
      </tbody>
    </table>
</div>
</div>
<br>
<div class='row'>

    <div class='col-md-3'><button class="btn btn-primary yes" type="submit"   >Yes</button></div>
    <div class='col-md-3'><button  class="btn btn-primary no" type="submit" >No</button></div>
    <div class='col-md-3'><button   class="btn btn-primary unsure" type="submit">Unsure</button></div>
    <form action="/dedupe_app/cluster_data" method="POST">
      {% csrf_token %}
      <div class='col-md-3'><button  class="btn btn-primary finish" type="submit">Finish</button></div>
    </form>
</div>
<br> <br>

<br>


<script type="text/javascript">
$(".yes").click(function(e){
  $.ajax({
      url:"/dedupe_app/console_own_iter",
      type:"POST",
      data:{'data':'y', csrfmiddlewaretoken:'{{ csrf_token }}'},

      success:function(data)
      {
        $(".xcz").html(data);
      }
  });
});

</script>

<script type="text/javascript">
$(".no").click(function(e){
  $.ajax({
      url:"/dedupe_app/console_own_iter",
      type:"POST",
      data:{'data':'n', csrfmiddlewaretoken:'{{ csrf_token }}'},

      success:function(data)
      {
        $(".xcz").html(data)
      }
  });
});

</script>

<script type="text/javascript">
$(".unsure").click(function(e){
  $.ajax({
      url:"/dedupe_app/console_own_iter",
      type:"POST",
      data:{'data':'u', csrfmiddlewaretoken:'{{ csrf_token }}'},

      success:function(data)
      {
        $(".xcz").html(data);
      }
  });
});

</script>




<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

</body>
</html>
